/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

/* root color */
:root {
  --text-shadow: rgba(2, 2, 2, 0.445);
}

.core-img {
  width: 100%;
  filter: drop-shadow(0 0 0.75rem rgb(20, 67, 220));
}

.slogan {
  margin-top: 15%;
}

.slogan h1 {
  font-weight: 700;
  font-family: 'Fjalla One', sans-serif;
}

.slogan p {
  font-family: 'Lobster', sans-serif;
  font-size: 25px;
}

.text-main {
  font-size: 50px;
  font-weight: 500;
  filter: drop-shadow(0px 0px 5px var(--text-shadow));
}

.text-shadow {
  filter: drop-shadow(0px 0px 5px var(--text-shadow));
}

.carousel-control-prev-icon {
  margin-right: 70%;
}

.carousel-control-next-icon {
  margin-left: 70%;
}

.welcome h3 {
  margin-top: 50px;
}

.bg-slide1 {
  background: url(../assets/img/slide1.JPG);
  background-position-y: 58%;
  background-position-x: center;
  background-size: cover;
  min-height: 600px;
  /* background-attachment: fixed; */
}
/* .bg-slide2 {
  background: url(../assets/img/slide2.JPG);
  background-position-y: 100%;
  background-position-x: center;
  background-attachment: fixed;
  background-size: cover;
  min-height: 600px;
  
}
.bg-slide3 {
  background: url(../assets/img/slid3.JPG);
  background-position-y: 120%;
  background-position-x: center;
  background-attachment: fixed;
  background-size: cover;
  min-height: 600px;
} */